<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.com">
<head>
<meta charset="ISO-8859-1">
<title>Hulk Store</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<br>
	<br>
	<br>
	<div class="container">
		<div class="section">
			<a th:href="@{/productos}" class="btn btn-primary btn-lg btn-block">Productos</a>
			<a th:href="@{/inventario}" class="btn btn-secondary btn-lg btn-block">Inventario</a>
		</div>
	</div>
</body>
</html>